<mat-toolbar color="primary">
  <img src="assets/img/logo-simple-framed-green-gradient.svg" style="height: 75%" title="Made using spoonacular API"/>
  <div>
    <button mat-button color="basic" disabled>&nbsp;</button>&nbsp;
    <button mat-button color="basic" (click)="clickButton()">Recipes</button>&nbsp;
    <button mat-button color="basic">Ingredients</button>&nbsp;
    <button mat-button color="basic">Products</button>&nbsp;
    <button mat-button color="basic">Menu Items</button>&nbsp;
    <button mat-button color="basic">Wine</button>
  </div>
</mat-toolbar>
