<mat-toolbar color="primary">
  <img src="assets/img/logo-black.png" style="height: 50%" title="Sketchfab explorer"/>&nbsp;
  <h1>Skex</h1>
  <div>
    <button mat-button color="basic" disabled>&nbsp;</button>&nbsp;
    <button mat-button color="basic" (click)="clickButton()">Models</button>&nbsp;
    <button mat-button color="basic">Members</button>&nbsp;
    <button mat-button color="basic">Collections</button>&nbsp;
    <button mat-button color="basic">Search</button>&nbsp;
  </div>
</mat-toolbar>
